body{
    background-image:url(background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a{
    color: black;
    font-size: 15px;
}
p{
    color: white;
    font-family: "consolas", sans-serif;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    padding: 10px;
}